{% extends "layout.html" %}
{% block content %}
<p style="font-size: 15px">{{box_name}} <span class="right">ถูกจองโดย {{owner}}</span></p>
<p style="font-size: 13px">หมดอายุวันที่ <span class="right">{{end_date['day']}}/{{end_date['month']}}/{{end_date['year']}}  {{end_date['hour']}}:{{end_date['minute']}}:{{end_date['second']}}</span></p>
<p style="font-size: 13px">เหลืออีก<span id="getting-started" class="right"></span></p>
<hr>
{% if owner == current_user.first_name+" "+current_user.last_name %}
<div class="row">
    <div class="col s12" style="height: 80px; padding: 0">
        <a class="white-text" href="{{ url_for('open',box_name=box_name) }}" style="width: 100%;">
            <div class="orange orange-text text-lighten-4 waves-effect waves-light z-depth-2" style="height: 80px; width: 100%; padding: 20px;">
                <div style="margin: 0 0 0 0; font-size: 24px;">Open Box <i class="right material-icons" style="font-size: 3rem;">lock_open</i></div>
            </div>
        </a>
    </div>

    <div class="col s12" style="height: 80px; padding: 0">
        <a class="white-text modal-trigger" href="#modal1" style="width: 100%;">
            <div class="orange orange-text text-lighten-4 waves-effect waves-light z-depth-2" style="height: 80px; width: 100%; padding: 20px;">
                <p style="margin: 0 0 0 0; font-size: 24px;">Add Post code <i class="right material-icons" style="font-size: 3rem;">send</i></p>
            </div>
        </a>
    </div>

    <div class="col s12" style="height: 80px; padding: 0">
        <a class="white-text modal-trigger" href="#modal2" style="width: 100%;">
            <div class="orange orange-text text-lighten-4 waves-effect waves-light z-depth-2" style="height: 80px; width: 100%; padding: 20px;">
                <p style="margin: 0 0 0 0; font-size: 24px;">Your Post Code <i class="right material-icons" style="font-size: 3rem;">send</i></p>
            </div>
        </a>
    </div>

    <div class="col s12" style="height: 80px; padding: 0">
        <a class="white-text modal-trigger" href="#modal4" style="width: 100%;">
            <div class="orange orange-text text-lighten-4 waves-effect waves-light z-depth-2" style="height: 80px; width: 100%; padding: 20px;">
                <p style="margin: 0 0 0 0; font-size: 24px;">History <i class=" right material-icons" style="font-size: 3rem;">history</i></p>
            </div>
        </a>
    </div>
    <form method="POST" action="{{ url_for('box',box_name=box_name) }}">
        <div id="modal1" class="modal">
            <div class="modal-content">
                {{ form.hidden_tag() }}
                <p style="font-size: 20px">Enter your password</p>
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.submit(class="btn btn-outline-info blue",style="width:100%") }}
            </div>
        </div>
    </form>
    {% if password %}
        <div id="modal2" class="modal">
            <div class="modal-content">
                <ul>
                    {% for pw in password %}
                        {% if pw != 1 %}
                            <li>{{pw}}</li>
                        {% endif %}
    
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if message %}
        <div id="modal4" class="modal">
            <div class="modal-content">
                <ul>
                    {% for ms in message %}
                        {% if ms != 1 %}
                            <li style="display: inline-block"><div class="center"><span class="left">{{ms.time.day}}/{{ms.time.month}}/{{ms.time.year}}  {{ms.time.hour}}:{{ms.time.minute}}:{{ms.time.second}}</span>{{ms.sender}}{% if ms.contact != 1 %}<span class="right">call:{{ms.contact}}</span>{% endif %}</div></li>
                        {% endif %}
    
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% else %}
    <div class="row">
        <div class="col s12" style="height: 80px; padding: 0">
            <a class="white-text modal-trigger" href="#modal3" style="width: 100%;">
                <div class="orange orange-text text-lighten-4 waves-effect waves-light z-depth-2" style="height: 80px; width: 100%; padding: 20px;">
                    <p style="margin: 0 0 0 0; font-size: 24px;">Sending<i class="right material-icons" style="font-size: 3rem;">send</i></p>
                </div>
            </a>
        </div>
        <form method="POST" action="{{ url_for('sending',box_name=box_name) }}">
            <div id="modal3" class="modal">
                <div class="modal-content">
                    {{ form.hidden_tag() }}
                    <p style="font-size: 20px">Enter your password</p>
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                        {{ form.submit(class="btn btn-outline-info blue",style="width:100%") }}
                </div>
            </div>
        </form>
        {% if thumnail %}
            <img src={{thumnail}} width="100%">
        {% endif %}
    {% endif %}
        <a class="col s12 btn blue-grey darken-3  z-depth-4" style="width: 100%" href="{{ url_for('home') }}">Back</a>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyCk9qv1iJZp16IXL5Uit6oJL0l39P2WwTE",
          authDomain: "southern-iot-box.firebaseapp.com",
          databaseURL: "https://southern-iot-box.firebaseio.com",
          projectId: "southern-iot-box",
          storageBucket: "southern-iot-box.appspot.com",
          messagingSenderId: "937282602359"
        };
        firebase.initializeApp(config);
        var database = firebase.database();
      </script>
    <script src="{{url_for('static', filename='jquery.countdown.min.js')}}"></script>
    <script type="text/javascript">
        
        $("#getting-started")
        .countdown("{{end_date['year']}}/{{end_date['month']}}/{{end_date['day']}} {{end_date['hour']}}:{{end_date['minute']}}:{{end_date['second']}}")
            .on('update.countdown', function(event) {
                $(this).text(
                    event.strftime('%D วัน %H ชั่วโมง %M นาที %S วินาที')
                );
            })
            .on('finish.countdown', function(event) {
                var url = window.location.href
                url = url.split('/')
                // var rootRef = firebase.database().ref();
                // var storesRef = rootRef.child('boxs/'+url[4]);
                // storesRef.set({
                //     owner:"no",
                //     status:"no",
                //     password: [1]
                // });
                window.location.reload()
            });
      </script>
{% endblock %}