{% extends "layout.html" %}
{% block style %}
<style>
    .row{
        margin: 0 0 0 0
    }
    .col{
        padding: 0 0 0 0
    }
</style>
{% endblock %}
{% block content %}
    <h5 class="center">Welcome to Smart Box <a class="modal-trigger" href="#information"><i class="small material-icons">info_outline</i></a></h5><hr>
    {% if current_user.is_authenticated %}
        <div class="row" style="padding: 10px 10px 10px 10px; margin-bottom: 20px">
            <div class="col s9"><span style="font-size: 16px">Hi !<br> {{ current_user.first_name }} {{ current_user.last_name }}</span></div>
            <div class="col s3"><a style="margin-top: 7px" class="btn orange right" href="{{ url_for('logout') }}">Logout</a></div>
        </div>
        <div class="row amber accent-4 z-depth-3" style="padding: 0 0 0 0; border-radius: 5px 5px 0 0">
            <div class="col s12 " style="height: 16vh;">
                <a class="orange-text text-lighten-4 modal-trigger" href="#searching">
                    <div class="waves-effect waves-light" style="height: 16vh; width: 100%;">
                        <p style="font-size: 28px">ค้นหาจากชื่อ<span class="right"><i style="font-size: 35px" class="small material-icons">search</i></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row amber accent-4 z-depth-3" style="padding: 0 0 0 0">
            <div class="col s12" style="height: 16vh;">
                <a class="orange-text text-lighten-4" href="{{ url_for('map') }}">
                    <div class="waves-effect waves-light" style="height: 16vh; width: 100%;">
                        <p style="font-size: 28px">กล่องใกล้ๆฉัน <span class="right"><i style="font-size: 35px" class="small material-icons">map</i></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row amber accent-4 z-depth-3" style="padding: 0 0 0 0;" >
            <div class="col s12 " style="height: 16vh;">
                <a class="orange-text text-lighten-4 modal-trigger" href="#my_box">
                    <div class="waves-effect waves-light" style="height: 16vh; width: 100%;">
                        <p style="font-size: 28px">กล่องของฉัน <span class="right"><i style="font-size: 35px" class="small material-icons">class</i></span></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row amber accent-4 z-depth-3" style="padding: 0 0 0 0; border-radius: 0 0 5px 5px" >
                <div class="col s12 " style="height: 16vh;">
                    <a class="orange-text text-lighten-4" href="#">
                        <div class="waves-effect waves-light" style="height: 16vh; width: 100%;">
                            <p style="font-size: 28px">ประวัติการจอง<span class="right"><i style="font-size: 35px" class="small material-icons">history</i></span></p>
                        </div>
                    </a>
                </div>
            </div>
        
        <form method="POST" action="{{ url_for('home') }}">
            <div id="searching" class="modal">
                <div class="modal-content">
                    {{ form.hidden_tag() }}
                    {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    {{ form.submit(class="btn btn-outline-info orange",style="width:100%") }}
                </div>
            </div>
        </form>
        <div id="my_box" class="modal">
            <div class="modal-content">
               {% for box in historys['box_name'] %}
                {% if box != 1 %}
                <a href="{{ url_for('box', box_name=box) }}" class="btn">{{box}}</a>
                {% endif %}
               {% endfor %}
            </div>
        </div>
        <div id="information" class="modal">
            <div class="modal-content">
                <p style="font-size: 16px">ขั้นตอนการใช้งาน</p>
                <p style="font-size: 16px">1. ใส่ชื่อกล่องที่คุณต้องการใช้งาน</p>
                <div class="center hide-on-med-and-down" style="margin: 0 0 0 0"><img src="{{url_for('static', filename='home1.png')}}" width="60%"/></div>
                <div class="center hide-on-large-only" style="margin: 0 0 0 0"><img src="{{url_for('static', filename='home1.png')}}" width="100%"/></div>
                <p style="font-size: 16px">2. สมัครเลือกแพ็กเก็ตที่คุณต้องการ</p>
                <div class="center hide-on-med-and-down" style="margin: 0 0 0 0"><img src="{{url_for('static', filename='home2.png')}}" width="60%"/></div>
                <div class="center hide-on-large-only" style="margin: 0 0 0 0"><img src="{{url_for('static', filename='home2.png')}}" width="100%"/></div>
                <p style="font-size: 16px">3. ใช้งานระบบ</p>
            </div>
        </div>
        
    {% endif %}
{% endblock %}
{% block script %}
<script>
     $(document).ready(function(){
        $('.modal').modal();
    });
</script>
{% endblock %}