<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if title %}
            {{title}}
        {% else %}
            Box
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MaterializeCSS CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Kanit -->
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='012.png')}}">
    <style>
        body{
            font-family: 'Kanit', sans-serif;
        }
    </style>
    {% block style %}{% endblock %}
            
</head>
<body>
        <main role="main" class="container">
            <div class="row">
                <div class="col s12 l12 xl2"></div>
                <div class="col s12 l12 xl8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <ul id="flash_message" class="collection {{category}}">
                                    <li class="collection-item {{category}}">{{ message }}</li>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    <!-- jQuery JS -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <!-- MaterializeCSS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
    setTimeout(()=>{
        $("#flash_message").fadeOut()
    },2000)
    </script>
    {% block script %}{% endblock %}
</body>
</html>